/* add background image and center div */


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



body{
    background-image: url("../images/checking-dna-against-elephants-hints-at-how-mammoths-got-woolly-419498991-1445830826.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* sizing of the quiz game and background color*/
.quiz-box{
    background-color: #fff;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
}
ul{
    list-style-type: none;
    margin-bottom: 50px;
}
ul li {
    margin: 1rem 0;
    font-family: oswald;

}

/*button sizing to fit div and add color*/
button{
    width: 100%;
    background-color: rgb(59, 59, 221);
    color: #fff;
    border: none;
    display: block;
    padding: 1.5rem;
    font-size: 1.5rem;
}
/* hover function to see when hover over button*/
#button:hover{
    background-color: blue;
}
h1{
    font-family: oswald;
    padding: 4rem;
    margin: 0;
}
/* text for when quiz completed*/
h2{
    font-family: oswald;
    text-align: center;
    padding: 2px;
}

/*countdown timer*/

/* username and start quiz */

#begin{
    text-align: center;
    font-size: 30px;
    font-family: oswald ;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

#timer-left{
    padding: 5px;
    margin: 30px;
}
#timer{
    font-size: large;
    font-family: oswald;
    margin-left: 20px;
}